---
layout: default
title: My Projects
permalink: /projects/
weight: 1
remote_projects: 
  - git-for-wizards
  - arduino-visitor-counter
---

&nbsp;
<p></p>
<p></p>
<div>
<h2>
<img src="\Portfolio\images\RetinaLogo.png" class="rounded float-end" style="width: 40px;" alt="...">  Retina Film Production </h2>
</div>
{% include projects/index.html %}
<p></p>
<p></p>
<div>
<h2>
<img src="\Portfolio\images\RetinaLogo.png" class="rounded float-end" style="width: 40px;" alt="...">  Personal Projects </h2>
</div>

{% include projects/indexper.html %}